<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title><%= title %></title>
</head>
<body>

   <nav>
      <ul>
         <li><a href="/">Karl Kovacs</a></li>
         <li><a href="/tim">Tim Kovacs</a></li>
         <li><a href="/martin">Martin Kovacs</a></li>
         <li><a href="/ursula">Ursula Kovacs</a></li>
         <li><a href="/lara">Lara Jimenez</a></li>
         <li><a href="/deborah">Deborah Hancock</a></li>
      </ul>
   </nav>