<% include partials/header.ejs%>
   <h1><%= title %></h1>
   <p>Tim Kovacs was my brother and a database analyst. He is the reason I was able to go back to school, and I took this coarse to follow in his footsteps!</p>

<% include partials/footer.ejs %>